buttonMain-small {
    border-radius: 8px;
    background-color: blue;
    padding: 16px;
    font-size: 12px;
}

buttonMain-med {
    border-radius: 8px;
    background-color: var(--blue);
    padding: 16px;
    font-size: 14px;
}